@model WebApplication1.Models.Course

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Faculty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Faculty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DurationYears)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DurationYears)
        </dd>
        <dd>

        </dd>
        <dt>
            <a asp-action="AddModule" asp-route-id="@Model?.Id" class="btn btn-primary">Add Module</a>
            @if (Model.Modules != null && Model.Modules.Any())
            {
                <h4>Modules</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Module Name</th>
                            <th>Module Code</th>
                            <th>Module Year</th>
                            <th>Module Semester</th>
                            <th>Actions</th> <!-- New column for buttons -->
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var module in Model.Modules)
                        {
                            <tr>
                                <td>@module.ModuleName</td>
                                <td>@module.ModuleCode</td>
                                <td>@module.Year</td>
                                <td>@module.Semester</td>
                                <td>
                                    <a asp-action="EditModule" asp-route-id="@module.ModuleId" class="btn btn-sm btn-primary">Edit</a>
                                    <a asp-action="ModuleDetails" asp-route-id="@module.ModuleId" class="btn btn-sm btn-primary">Details</a>
                                    <a asp-action="DeleteModule" asp-route-id="@module.ModuleId" class="btn btn-sm btn-danger">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            }
            else
            {
                <p><em>No modules available for this course.</em></p>
            }

        </dt>
    </dl>
</div>
<div>
    <a asp-action="EditCourse" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Courses">Back to List</a>
</div>
